version: '3.7'

services:
  fluentd:
    image: "{{ fluentd_docker_image }}"
    networks:
      - integr8_tools
    ports:
      - 9880
      - 24224:24224
      - 24224:24224/udp
    configs:
      - source: fluentd
        target: /fluentd/etc/fluent.conf
    deploy:
      labels:
        - traefik.enable=true
        - traefik.backend=fluentd
        - traefik.frontend.rule=Host:{{ fluentd_host }}
        - traefik.port=9880
        - traefik.docker.network=integr8_tools
      mode: global
      placement:
        constraints:
          - node.role == worker
networks:
  integr8_tools:
    external: true
    name: integr8_tools

configs:
  fluentd:
    file: "{{ fluentd_temp_dir.path }}/fluent.conf"
